<!--<div class="topnav" id="myTopnav">
    <a [routerLink]="['./policy']" [routerLinkActive]="['active']">Policy</a>
    <a [routerLink]="['./admin']" [routerLinkActive]="['active']">Admin</a>
  </div>-->

<mat-toolbar color="primary" class="toolbar mat-elevation-z8">
  <mat-toolbar-row>
    <a mat-button [routerLink]="['./policy']" [routerLinkActive]="['active']">Policy</a>
    <a mat-button [routerLink]="['./admin']" [routerLinkActive]="['active']">Admin</a>
    <span class=filler></span>
    <a mat-button type="button" on-click="logout()">LogOut</a>
    
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>